body {
  /* background-color: rgb(221, 221, 221);
  width: 100%;
  height: 200vh;
  position: relative; */
  /* font-family: var(--secondary-heading); */
    background: #efefef;
    position: relative;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 400;

}
/* @media (min-width: 768px) */
.Header_top {
  
  background: rgb(90, 87, 87);
  width: 100%;
  height: 100px;
  position: fixed;
  margin: auto;
  top: 0;
  opacity: 0.9;
}
header {
  display: block;
}
.header_main_Cont {
  width: 100%;
  height: 99px;
  
}
.header_cont1 {
  height: 22px;
}
.location {
  color: rgb(156, 148, 148);
  font-size: large;
  width: 30%;
  float: left;
}
.telee {
  font-family: "Bebas Neue";
  width: 11%;
  margin: 6px 12px 10px;
}
.telephone {
  font-size: large;
  display: flex;
  justify-content: space-around;
}
.fa-whatsapp{
  color: white;
  background: green;
   border-radius: 50%;
    font-weight: 400;
    height: 15px;  
}
.fa-phone-square-alt{
  font-size: 14px !important;
   color: #6fc36f;
   border-radius: 50%;
    font-weight: 400;
    /* height: 15px; */
}
.fa-search{
  color: white;
  width: 10px;
  height: 30px;
}
.sub_cont1 {
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.header_cont2 {
  display: flex;
  justify-content: space-between;
}
.header_left_cont2 {
  
  width: 20%;
  margin: 12px 200px 12px;
  float: left;
}
.content_space {
  display: flex;
  justify-content: space-around;
  width: 280px;
  text-align: center;
  font-weight: 100;
}
.dropbtn {
  background-color: rgb(90, 87, 87);
  color: white;
  padding: 16px;
  font-size: 22px;
  font-weight: 100;
  border: none;
  font-family: "Bebas Neue";
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(90, 87, 87);
  text-decoration: underline white;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: inherit;
  background-color: black;
  color: white;
}

.dropdown:hover .dropbtn {
  background-color: rgb(90, 87, 87);
}

.header_middle_cont2 {
  width: 20%;
  margin-left: -120px ;
  text-align: center;
  padding: 0.1%;
}
.header_right_cont2 {
  width: 12%;
  margin: 20px 210px 12px;
  display: flex;
  justify-content: space-around;
}
.user {
  border-radius: 14px;
}
.dot {
  height: 9px;
  background-color: red;
  width: 9px;
  border-radius: 50%;
  display: inline-block;
}
.dot2 {
  height: 24px;
  width: 24px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin: 5px 0px 0px;
  color: #f1f1f1;
  text-align: center;
}
.droppindown {
  position: relative;
  display: inline-block;
}
.droppindown_Btn {
  background-color: rgb(90, 87, 87);
  color: white;
  padding: 7px;
  font-size: 22px;
  font-weight: bold;
  border: none;
}
.droppindown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 15px 16px;
  z-index: 1;
}
.droppindown-content a {
  color: black;
  padding: 20px 16px;
  text-decoration: none;
  display: block;
}
.droppindown-content a:hover {
  background-color: rgb(90, 87, 87);
  text-decoration: underline white;
}
.droppindown:hover .droppindown-content {
  display: block;
  background-color: black;
  color: white;
}

.droppindown:hover .droppindown_Btn {
  background-color: rgb(90, 87, 87);
}
.login_Btn {
  background-color: rgb(90, 87, 87);
  border-radius: 2px;
  height: 25px;
  width: 150px;
  color: white;
}
.modal-bg {
  position: fixed;
  width: 100%;
  height: 80vh;
  top: 0;
  left: 0;
  background-color: rgba(77, 67, 67, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.bg-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  width: 80%;
  height: 45%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
}
.searchbox {
  width: 90%;
  height: 50px;
}
.dropdown_lern {
  position: relative;
  display: inline-block;
}
.dropbtn_lern {
  font-family: "Bebas Neue";
  background-color: rgb(90, 87, 87);
  color: white;
  padding: 16px;
  font-size: 22px;
  font-weight: 100;
  border: none;
}
.dropdown-content_lern {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content_lern a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content_lern a:hover {
  background-color: rgb(90, 87, 87);
  text-decoration: underline white;
}

.dropdown_lern:hover .dropdown-content_lern {
  display: block;
  background-color: black;
  color: white;
}

.dropdown_lern:hover .dropbtn_lern {
  background-color: rgb(90, 87, 87);
}

.box {
  width: 450px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid #303030; */
  box-shadow: 5px 5px 20px rgb(255, 0, 0);
  border-radius: 20px;
}
.top {
  width: 100%;
  height: 80px;
  margin: auto;
  background: #79fa22;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.top h3 {
  color: #fff;
  margin: auto;
  font-size: 20px;
  text-align: left;
  /* padding-left: 20px; */
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.mid {
  width: 100%;
  height: 360px;
  background: white;
  /* margin-top: -18px; */
}
.mid .chat {
  width: 100%;
  /* padding-top: 0px; */
}
.mid .chat h2 {
  margin: 0;
  font-size: 30px;
  color: #000;
  padding: 30px 20px;
}
.mid .chat p {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: grey;
  background: rgb(253, 255, 108);
  padding: 50px 20px;
  letter-spacing: 0.04em;
}
.input {
  width: 100%;
  height: 79px;
  overflow: hidden;
  /* background: #090e11; */
}
.input input {
  width: 100%;
  height: 70px;
  font-size: 30px;
  outline: none;
  border: none;
  padding-left: 30px;
  padding-top: 0;
  font-family: cursive;
  background: #ffffff;
  color: grey;
  border: 1px solid grey;
}
.modal-box {
  position: fixed;
  width: 100%;
  height: 80vh;
  top: 0;
  left: 0;
  background-color: rgba(77, 67, 67, 0.6);
  display: flex;
  justify-content: left;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s;
}
.bg-on {
  visibility: visible;
  opacity: 1;
}

.modal_cont {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  width: 32%;
  height: 95%;
  align-items: left;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.modal-close_icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
}
.bot {
  border-radius: 50%;
  border: 1px dashed rgb(23, 252, 15);
}
.modelraw {
  border-radius: 70%;
  margin: auto;
  padding-left: 1%;
}
.botDiv {
  float: left;
  position: fixed;
  margin:500px 10px 0px;
}

.container2 {
  width: 30%;
  height: 440px;
  margin: 150px 520px 100px;
  padding: 0.1%;
  background-color: rgb(221, 221, 221);
}
.login_Submt_Btn {
  font-family: "Bebas Neue", cursive;
  padding: 1px;
  margin: auto;
  width: 100px;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 22px;
  font-weight: 100;
}
.sub_cont_middle {
  width: 100%;
  margin: auto;
  text-align: center;
}
#email {
  width: 90%;
  height: 30px;
}
#password {
  width: 90%;
  height: 30px;
}
.viaotp {
  font-family: "Bebas Neue", cursive;
  margin: auto;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 22px;
  font-weight: 100;
}
.fb_gmail {
  width: 100%;
  display: flex;
  margin: 0px -10px 10px;
  padding: 10px;
  justify-content: space-around;
  color: white;
}
.btnFacebook {
  background-color: rgb(58, 84, 159);
  width: 200px;
  height: 40px;
  color: white;
}
.btnGmail {
  background-color: rgb(217, 55, 42);
  width: 200px;
  height: 40px;
  color: white;
}

footer{
  display: block;
  
}
.rFooter{
  padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    background-color: black;
    
}
.Foot_container{
  max-width: 960px;
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
div{
  display: block;
}
.foot_row{
  display: flex;
  flex-wrap: wrap;
    margin-right: 15px;
    margin-left: -65px;
}
.text-center {
  text-align: center !important;
}
.textfonting{
  font-size: 22px;
  font-family: "Bebas Neue", cursive;
  font-weight: 100;
}
.foot_col{
  color: white;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
   
    
}
.contents{
  color:grey;
    font-weight: 200;
    margin-bottom: 15px;
    margin: 0;
    padding: 0;
}
p{
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.col_foot2{
  flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: -15px;
   
}
.colsub_foot{
  display: flex;
  justify-content: space-evenly;
  font-size:22px;
  margin: 90px -50px 0px ;
  font-family: "Bebas Neue", cursive;
  font-weight: 100;
}
.footer_signup{
  color: white;
  text-align: center !important;
  flex:1%;
  font-size: 22px;
  font-family: "Bebas Neue", cursive;
  font-weight: 100;
}
.input_foot{
  background-color: black;
  height: 30px;
  border: black;
  border-bottom: 1px solid grey;
}
.btnSubscribe{
  background-color: black;
  color: white;
  height: 32px;
  border: black;
  border-bottom: 1px solid grey;
}
.copyRight{
  margin: 20px 0 0 0;
  
}
.footEnd{
  text-align: center;
 
}
