* {
    padding: 0px;
    margin: 0px;
}
a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
a img{
    height: 30px;
    margin: 10px;
    color: #555555;
}

.headerCont {
    display: flex;
    justify-content: center;
    align-items: center;
}

a span{
    font-size: 27px;
    font-family: 'Bebas Neue', cursive;
    color: #555555;
}

.headerCont {
    background-color:  #efefef #fff whitesmoke hsl(0,0,93) rgb(239,239,239);
}